<div class="card container col-md-10" style="margin-bottom: 10px;">
  <h1 style="text-align: center;">Recruitment Management System</h1>
<div class="card">
<mdb-carousel [animation]="'slide'" style="margin-top: 10px;padding:0 10px 10px 10px ;">
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image11.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image9.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img style="height: 550px;"class="d-block w-100" src="/assets/images/image10.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>
  <hr/>
  <app-card-view style="position: relative; margin-bottom: 10px;"></app-card-view>
</div>