<a routerLink="/viewjobs">Go back</a>
<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">JobId:12</h5>
                <p>Designation: Full Stack Developer</p>
                <P>JobRole:</P>
                <p>Employeement Type:Full Time</p>
                <p>Offered Salary:45000</p>
                <P>Experience Needed: 3 years</P>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">Apply Now</button>
                
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">JobId:13</h5>
                <p>Designation: HR </p>
                <P>JobRole:</P>
                <p>Employeement Type:Full Time</p>
                <p>Offered Salary:65000</p>
                <P>Experience Needed: 5 years</P>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">Apply Now</button>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">JobId:14</h5>
                <p>Designation: Associate Software Engineer</p>
                <P>JobRole:</P>
                <p>Employeement Type:Full Time</p>
                <p>Offered Salary:25000</p>
                <P>Experience Needed: 0 years</P>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">Apply Now</button>
            </div>
        </div>
    </div>
    </div>