<style>
.testimonial-card{
    transition: box-shadow .5s;
}
.testimonial-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-4">

    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="../../../assets/images/image12.jpg" class="rounded-circle">
      </div>

      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h4 style="text-align: center;">Mr. XYZ</h4>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p style="text-align: center;">
          <mdb-icon fas icon="quote-left"></mdb-icon> CEO
          </p>
      </mdb-card-body>
    </mdb-card>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4">

    <!--Card-->
    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up aqua-gradient">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="../../../../assets/images/image12.jpg" class="rounded-circle">
      </div>

      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h4 style="text-align: center;">Mrs. ABC</h4>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p style="text-align: center;">
          <mdb-icon fas icon="quote-left"></mdb-icon> Lead, Recruitment Department</p>
      </mdb-card-body>
    </mdb-card>
    <!--/.Card-->

  </div>
  <div class="col-md-4">

        <!--Card-->
        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up aqua-gradient">
          </div>
    
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../../assets/images/image12.jpg" class="rounded-circle">
          </div>
    
          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 style="text-align: center;">MR. LMN</h4>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p style="text-align: center;">
              <mdb-icon fas icon="quote-center"></mdb-icon> MANAGING DIRECTOR</p>
          </mdb-card-body>
        </mdb-card>
        <!--/.Card-->
    
      </div>
  <!--Grid column-->

</div>
<!--Grid row-->