.card{
    display: block;
    margin-top: 100px;
    transition:box-shadow .3s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(87, 77, 223, 0.329), 0 6px 20px 0 rgba(32, 29, 189, 0.397);
}

div.formContainer{
    display: block;
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
form{
    display: inline-block;
}
div.container{
    display: block;
    /* position: relative;*/
    min-height: 100%;
    margin-bottom:220px;
}

input{
    transition: box-shadow .3s;
}
input:hover{
    box-shadow: 0 4px 8px 0 rgba(87, 77, 223, 0.329), 0 6px 20px 0 rgba(32, 29, 189, 0.397);
}
a{
    color: black;
}